.navbar {
  height: 76px;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.link:hover {
  color: #046ADF !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.toggleMenu {
  border: none !important;
}

.logo {
  height: 50px;
}

.logoText {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}