.link {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.18rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.link:hover {
  color: #046ADF !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.active {
  color: #046ADF !important;
  font-weight: bold;
}