.hero {
  position: relative !important;
  height: calc(100vh - 76px);
  margin-top: 76px;
}

.backgroundImageWrapper {
  z-index: 1;
}

.backgroundImageWrapper:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100vh - 76px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.backgroundImageWrapper img {
  z-index: -99;
}

.heroContent {
  position: relative;
  z-index: 1;
}

.content {
  color: white;
}

.content h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  text-shadow: 0 0 2px rgb(255 255 255 / 80%);
}

.content h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.625rem;
  letter-spacing: 0.02em;
  text-shadow: 0 0 2px rgb(255 255 255/ 80%);
}

.content p {
  margin-top: 1.875em;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-shadow: 0 0 2px rgb(255 255 255 / 80%);
}

@media (min-width:1700px) {
  .hero {
    min-height: calc(100vh - 76px - 300px);
  }

  .backgroundImageWrapper:before {
    min-height: calc(100vh - 76px - 300px);
  }
}

@media handheld,
(orientation: landscape) {
  .hero {
    min-height: 500px;
  }

  .backgroundImageWrapper:before {
    min-height: 500px;
  }
}