@import '@styles/colors.scss';

.card {
  border-radius: 0.5em;
  border-color: transparent;
  background: $light;
}

.card img {
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}

.cardBody {
  padding: 0 !important;
}

.description {
  font-size: 1rem;
  line-height: 160%;
  margin: 0.5em 0em;
  min-height: 80px;
  color: $dark;
}
