.card {
  box-shadow: 0 5px 10px rgb(73 84 100 / 20%);
  border-radius: 0.5em;
  border-color: transparent;
}

.card img {
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}

.description {
  font-size: 1rem;
  line-height: 160%;
  margin: 1em 0em;
  min-height: 80px;
}