@import '@styles/colors.scss';

.label {
  font-size: 1rem;
  line-height: 160%;
  margin: 0em 0.25em;
}

.label.primary {
  color: $dark;
}

.label.white {
  color: $light;
}

.label.large {
  font-size: 1.25rem;
}

.label svg {
  padding-right: 0.5em;
}

.label a {
  text-decoration: none;
}

.label a:hover {
  color: $primary900 !important;
}
