@import '@styles/colors.scss';

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.18rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark !important;
  letter-spacing: 1px;
}

.link:hover {
  color: $primary !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.active {
  background: none !important;
  color: $primary !important;
  font-weight: 600 !important;
}
