@import '@styles/colors.scss';

.navbar {
  min-height: 76px;
  background: $light;
}

.toggleMenu {
  border: none !important;
}

.logoWrapper {
  min-width: 2rem;
}

.logoText {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  color: $dark;
}

.logoText.largerText {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .logoWrapper {
    padding: 0 !important;
  }
}
