@import '@styles/colors.scss';

.card {
  background: $light;
  border: none;
  box-shadow: 0 5px 10px rgb(73 84 100 / 20%);
  border-radius: 0.5em;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.03);
}

.icon img {
  font-size: 2.5rem;
  color: $dark;
}

.content h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $dark;
}

.content p {
  font-size: 1rem;
  line-height: 160%;
  color: $dark;
}
