$primary: #255cb9;
$primary50: #578eeb;
$primary100: #4d84e1;
$primary200: #437ad7;
$primary300: #3970cd;
$primary400: #2f66c3;
$primary500: #255cb9;
$primary600: #1b52af;
$primary700: #1148a5;
$primary800: #073e9b;
$primary900: #003491;
$secondary: #3a74d7;
$dark: #122255;
$light: #fffffe;
$light600: #f5f5f5;
$light700: #ebebeb;
$light800: #e1e1e1;
$light900: #d7d7d7;
$success: #409670;
$info: #122255;
$warning: #be8638;
$danger: #f44336;
$grey: #9a9db2;