.primary {
  color: #022855 !important;
}

.primaryLighter {
  color: #034087 !important;
}

.secondary {
  color: #2870C3 !important;
}

.white {
  color: #fff !important;
}

.grey {
  color: #9A9DB2 !important;
}