.title {
  margin: 0.5em 0em;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
}

.title a {
  text-decoration: none;
}

.primary a {
  color: #022855;
}

.primary a:hover {
  color: #2870C3;
}

.white a {
  color: #ffffff;
}

.white a:hover {
  color: #e6e6e6;
}